xSDR6000-master/CommonCode/CocoaAsyncSocket/* linguist-vendored
xSDR6000-master/Documentation/* linguist-vendored
xLib6000.framework/* linguist-vendored
AudioLibrary.framework/* linguist-vendored
XCGLogger.framework/* linguist-vendored
ObjcExceptionBridging.framework/* linguist-vendored
SwiftyUserDefaults.framework/* linguist-vendored
OpusOSX.framework/* linguist-vendored



